@import "tailwindcss";

:root {
    --primary: #a62de3;
    --dark: #232931;
    --secondary: #d7dce1;
    --positive: #4caf50;
    --negative: #f44336;
    --warning: #ff9800;
}

@theme {
    --color-primary: var(--primary);
    --color-dark: var(--dark);
    --color-secondary: var(--secondary);
    --color-positive: var(--positive);
    --color-negative: var(--negative);
    --color-warning: var(--warning);
}