@import "tailwindcss";

:root {
    --primary: #3e69d4;
    --dark: #262c37;
}

@theme {
    --color-primary: var(--primary);
    --color-dark: var(--dark);
}

/* ... */

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

main {
    background-image: radial-gradient(rgba(255, 255, 255, 0.121) 5%, transparent 0);
    background-size: 30px 30px;
}